html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Determination;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Determination";
  src: url("/fonts/Determination/DeterminationMonoWebRegular-Z5oq.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
